@import './base.css';

#app {
  max-width: 980px;
  margin: 0 auto;
  padding: 2rem;
  
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: rgb(255, 241, 204);
}

@media (hover: hover) {
  a:hover {
    letter-spacing: -5px;
  }
}

@media (min-width: 1024px) {
}
